.header {
  background-color: #282a36;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: white;
  border-bottom: 2px solid #44475a;
}

.sidebar {
    background-color: #282a36;
    width: 300px;
    height: calc(100vh - 50px);
    border-right: 2px solid #44475a;
    float: left;
}

.main {
    background-color: #282a36;
    height: calc(100vh - 50px);
}
